.breathingCard{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

    border:1px solid #AAA;
    height:250px;
    width:250px;
    border-radius:100%;
    text-align:center;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    
}

.initial{
    background-color:#FFF;
}
.active{
    background-color:var(--blue);
}

.deactivated{
    background-color:'#333';
    color:'#555';
}


.breathingCard .breathingCardTitle{
    font-size:24px;
}

.breathingCard .breathingCardSecond{
    font-size:24px;
}