#exerciseSelectorDiv{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

    width:100vw;
    height:100px;
}

#exerciseSelectorDiv label{
    font-size:18px;
    margin-bottom:8px;
}

#exerciseSelectorDiv select{
    height:30px;
    width:190px;

    font-size: inherit;
    padding:2px 2px 6px 2px;
    outline:0px;
    border:none;
    border-radius:2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #AAA;
    color: #555;
}

@media(max-width:930px){
    #exerciseSelectorDiv select{
        font-size:14px;
    }
}