header{
    width:100vw;
    text-align:center;
    padding:24px 0;
}

header:first-child{
    font-size:28px;
    overflow-wrap:break-word;
    
}

@media(max-width:620px){
    header:first-child{
        font-size:20px;
        overflow-wrap:break-word;
    }
}